html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: -ms-box;
    -ms-box-orient: vertical;
    -ms-box-pack: center;
    -ms-box-align: middle;
}

.fixed-layout {
    width: 1024px;
    height: 768px;
}

@media screen and (-ms-view-state: full-screen)
{
 
}

@media screen and (-ms-view-state: fill)
{

}

@media screen and (-ms-view-state: snapped)
{

}
		
@media screen and (-ms-view-state: device-portrait)
{

}